<div class="container pt-2">
    <h1 class="text-center text-warning mt-5"><%= formTitle; %></h1>
    <h3 class="text-light w-50 mx-auto h6">
        <% if (formMessage) { %>
            <%= formMessage; %>
        <% } %>
    </h3>
    <form id="<%= formId; %>" action="<%= formAction; %>" method="<%= formMethod; %>" class="mt-4">
        <!--Generate file chunk from template formFieldsConfig will
         come to us from server request and can be reusable
         for the different forms
         Made from sample: https://ejs.co/#install
         -->
        <%- include("./form-fields", formFieldsConfig) %>

        <!-- Add hidden fields if provided -->
        <% if (typeof hiddenFields !== 'undefined' && hiddenFields) { %>
            <% hiddenFields.forEach(field => { %>
                <input type="hidden" name="<%= field.name %>" value="<%= field.value %>">
            <% }); %>
        <% } %>

        <button type="submit" class="btn btn-warning w-50 mx-auto"><%= formTitle; %></button>
    </form>
</div>
