<!--Form fields helper chunk
The idea of tha to maintain reusable chunks if
different pages need same form fields
-->
<!-- Form
Made by example: https://getbootstrap.com/docs/5.3/forms/overview/#overview-->
<!-- col-sm-12 for small screens full-width-->
<!-- col-md-6 for medium screens 50%-->
<!-- col-lg-4 large screens 33%-->
<!-- mb-3 added margin bottom -->
<!--text-start move text to the left-->

<div class="row text-warning text-start" xmlns="http://www.w3.org/1999/html">
    <!-- Full Name -->
    <% if (!formTitle) { %>

    <% } %>

    <%
    const formFieldsConfig = [
        {showField: showFullName, label: "Full Name", id: "full_name", name: "full_name", type: "text"},
        {showField: showPhone, label: "Phone", id: "phone", name: "phone", type: "tel"},
        {showField: showEmail, label: "Email", id: "email", name: "email", type: "email", autocomplete: "true"},
        {showField: showAddress, label: "Address", id: "address", name: "address", type: "text"},
        {
            showField: showPassword,
            label: "Password",
            id: "password",
            name: "password",
            type: "password",
            additional: "<i class=\"bi bi-eye bi-eye-slash eye-icon\" id=\"toggleIconPassword\"></i>"
        },
        {
            showField: showConfirmPassword,
            label: "Confirm Password",
            id: "confirm-password",
            name: "confirm-password",
            type: "password",
            additional: "<i class=\"bi bi-eye bi-eye-slash eye-icon\" id=\"toggleIconConfirmPassword\"></i>"
        }
    ];

    formFieldsConfig.forEach((field) => {
    if (field.showField) { %>
        <div class="col-sm-12 col-md-6 mb-3">
            <label for="<%= field.id ;%>" class="form-label <%= field.type === "password" ? "password-label" : "" ;%>">
                <%= field.label ;%>:
                <input type="<%= field.type ;%>" class="form-control" id="<%= field.id ;%>" name="<%= field.name ;%>"
                        <%= field.type === "password" ? "minlength='4'" : "" ;%> <%- field.autocomplete ? `autocomplete=${field.autocomplete}` : ""; %>
                       required>
                <% if (field.additional) { %><%- field.additional; %>
                <% } %>
            </label>
        </div>
    <% }
    });
    %>
</div>