<div class="container">
    <h1 class="text-center text-warning mt-5"><%= formTitle %></h1>
    <!-- text-start make text align left-->
    <form id="<%= formId %>" action="<%= formAction %>" method="<%= formMethod %>" class="mt-4">
        <!--Generate file chunk from template formFieldsConfig will
         come to us from server request and can be reusable
         for the different forms
         Made from sample: https://ejs.co/#install
         -->
        <%- include('./form-fields', formFieldsConfig) %>
        <!--w-50 mx-auto add width 50% and center it-->
        <button type="submit" class="btn btn-warning w-50 mx-auto"><%= formTitle %></button>
    </form>
</div>