<!--Partially borowed from: https://bbbootstrap.com/snippets/bootstrap-ecommerce-shopping-cart-item-summary-44021562-->
<div class="card px-md-5 py-md-3">
    <% if (orders.length > 0) { %>
        <div class="row">
            <div class="col">
                <div class="title">
                    <div class="row">
                        <div class="col text-start"><h4><b>Your Orders</b></h4></div>
                    </div>
                </div>
                <% orders.forEach(order => { %>
                <%-console.log(order) %>
                    <% const orderDate = new Date(order.order_date).toISOString().split('T'); %>
                    <div class="row border-top border-bottom my-3 py-3">
                        <div class="row align-items-center m-auto p-0">
                            <div class="col-3 p-0"><img class="img-fluid" src="/img/pizza-slide1.jfif" alt="main order photo"></div>

                            <div class="col-4">
                                <div class="row text-muted text-start">
                                    <span><%= orderDate[0] %></span>
                                    <span class="text-muted"><%= orderDate[1].split('.')[0] %></span>
                                </div>
                            </div>
                            <div class="col-5 text-end">
                                <p><span>€ <%= order.order_summ %></span>
                                    <span><%= order.status %></span>
                                </p>
                                <a class="btn btn-sm btn-warning" href="/orders/<%= order.id %>">View</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
        <% if (pagesCount > 1) { %>
            <div class="row">
            <nav aria-label="page navigation text-warning">
                <ul class="pagination pagination-sm justify-content-center">
                    <li class="page-item"><a class="page-link <%= currentPage === 1 ? 'disabled' : '' %>" href="/user?page=<%= currentPage > 1 && currentPage - 1 %>">Previous</a></li>
                    <% for(let i = 1; i <= pagesCount; i++) {%>
                    <li class="page-item"><a class="page-link <%= currentPage === i ? 'active': ''%>" href="/user?page=<%= i %>"><%= i %></a></li>
                    <% } %>
                    <li class="page-item"><a class="page-link <%= currentPage === pagesCount ? 'disabled' : '' %>" href="/user?page=<%= currentPage + 1 %>">Next</a></li>
                </ul>
            </nav>
        </div>
        <% } %>
    <% } else { %>
        <h3>No orders yet</h3>
    <% } %>

</div>