<% title = "Pizzy - Best pizzeria"; %>

<!--Include Caurosel-->
<%- include("chunks/caurosel") %>
<!--Finish Caurosel include-->

<h1 class="text-center visually-hidden">Order best hot pizza Online</h1>

<!--    products list-->
<div class="container">

    <!--  Spinner Block -->
    <!--  will be shown if there are no products in the database, or we're waiting for the response from the server.
  https://getbootstrap.com/docs/5.3/components/spinners/-->
    <% if (products.length === 0) { %>
        <p class="alert-message text-warning fw-bold">
            Waiting for products
            <span class="spinner-grow text-warning" role="status"></span>
            <span class="spinner-grow text-warning" role="status"></span>
            <span class="spinner-grow text-warning" role="status"></span>
            <span class="visually-hidden">Loading...</span>
        </p>
    <% } %>
    <!--        End spinner block-->
    <!--        Generating products list-->
    <% products.forEach(category => { %>
        <!-- .rounded-3 make cards borders rounded, alternative to border-radius in css
        .p-3 add paddings
        -->
        <h2 class="text-bg-warning rounded-3 p-3 my-3"
            id="<%= category.category_title.toLowerCase() %>"><%= category.category_title %></h2>
        <!--.g-2 add gaps between cards-->
        <div class="row justify-content-around g-2">
            <% category.products.forEach(product => { %>
                <!-- col-sm-12 for small screens full-width-->
                <!-- col-md-6 for medium screens 50%-->
                <!-- col-lg-4 large screens 33%-->
                <div class="col-sm-12 col-md-6 col-lg-4">

                    <!--Card component-->
                    <!-- I used version https://getbootstrap.com/docs/5.3/components/card/
                    make a some modifications
                    .h-100 for make all cards in the row have same height as by
                    default they are dependent of content size
                    -->
                    <div class="card h-100">
                        <div class="card-body d-flex flex-column">
                            <img src="/img/<%= product.picture_url %>" class="card-img-top"
                                 alt="Order hot <%= product.product_title %>">
                            <h3 class="card-title"><%= product.product_title %></h3>
                            <p class="card-text"><%= product.description %></p>

                            <% if (product.variations && product.variations.length > 0) { %>
                                <!--Start of button group-->
                                <!--Used for generate product options. Used: https://getbootstrap.com/docs/5.3/components/button-group/-->
                                <div class="btn-group mb-2" aria-label="Size selection">
                                    <% product.variations.forEach((variation, index) => { %>
                                        <button
                                                class="btn btn-outline-secondary product-size <%= index === 0 ? 'active' : '' %>"
                                                onclick="updatePrice('<%= product.category_id %>','<%= product.product_id %>', '<%= variation.price.toFixed(2) %>', '<%= variation.weight %>', '<%= variation.size_id %>', '<%= variation.size_title %>', this)">
                                            <%= variation.size_title %>
                                        </button>
                                    <% }); %>
                                </div>
                            <% } %>
                            <!-- price display and weight display used for js to update price and weight-->
                            <h6 class="card-subtitle mb-2 text-body-secondary product-price position-relative">
                                <span id="price-display-<%= product.category_id %>-<%= product.product_id %>"><%= product.price %>&#8364;</span>
                                <% if (product.weight) { %>
                                    <span class="fw-bold position-absolute end-0 fs-6"
                                          id="weight-display-<%= product.category_id %>-<%= product.product_id %>"><%= product.weight %>g</span>
                                <% } %>
                            </h6>

                            <% if (product.ingredients) { %>
                                <!--.small make text font-size smaller-->
                                <p class="small">Ingredients: <span><%= product.ingredients %></span></p>
                            <% } %>
                            <!--btn for add to cart, btn-warning means that btn will be yellow, btn-sm means that btn will be small,-->
                            <button class="btn btn-warning btn-sm"
                                    onclick="addToCart('<%= product.category_id %>',
                                            '<%= product.product_id %>',
                                            '<%= product.product_title %>',
                                            '<%= product.picture_url %>',
                                            '<%= product.price %>',
                                            1,
                                            's',
                                            getCurrentPrice(),
                                            getCurrentSize())">
                                Add to cart
                            </button>
                        </div>
                    </div>

                    <!--End of card component-->
                </div>
            <% }); %>
        </div>
    <% }); %>
    <!--        End of products list-->

</div>
<!--End of products list-->


<% scripts = `
<!--Import price updater module-->
<script type="module">
    import  {updatePrice, addToCart, getCurrentPrice, getCurrentSize, removeFromCart}  from "./js/productsUpdater.js";

    // Attach "updatePrice" to the global "window" object
    window.updatePrice = updatePrice;
    window.addToCart = addToCart;
    window.getCurrentPrice = getCurrentPrice;
    window.getCurrentSize = getCurrentSize;
    window.removeFromCart = removeFromCart;
</script>
<!--End Import -->
`; %>
