<!--User page contain user info and orders-->

<!--Borrowed part of mockup from: https://bbbootstrap.com/snippets/bootstrap-5-myprofile-90806631-->
<div class="container mt-3">
    <div class="row text-warning p-1 m-1 align-items-center">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" height="150px"
                     src="/img/user-icon.png" alt="User icon"><span
                        class="font-weight-bold"><%= username %></span>
                <span><%= email %></span><span><%= address %></span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="py-3 p-md-3 py-md-5">
                <div class="column justify-content-between align-items-center mb-3">
                    <h4 class="text-right text-warning">Profile Information</h4>
                    <div>
                        <div>
                            <h5><b>Summary</b></h5>
                        </div>
                        <div class="col">
                            <div class="row justify-content-between text-uppercase flex-nowrap border-bottom">
                                Items: <span class="text-end col-5"><%= ordersTotal %></span>
                            </div>
                            <div class="row justify-content-between text-uppercase flex-nowrap border-bottom">Total Amount: <span class="text-end col-5">€ <%= ordersTotalAmt %></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('chunks/user-orders', {currentPage}) %>
    </div>
</div>


<% scripts = `
<script>
    const ordersButtons = document.querySelectorAll('.btn-order-detail');

    const renderElement = (result, el) => {
        const element = \`<div class="row justify-content-center align-items-end order-items mt-2 p-0">
                    \${result.data.map(item => \`<div class="order-content col-12 col-md-3 py-3 my-1 align-items-center">
                                <h3 class="h6">\${item.title}</h4>
                                <div class="col p-0">
                                    <img class="img-fluid cover-image" src="img/\${item.url}" alt="product image">
                                </div>
                                <div class="col p-0">
                                    <p class="row m-0">
                                        <span class="col p-0 text-start fw-bold">Size</span>
                                        <span class="col p-0 text-end">\${item.size.toUpperCase()}</span>
                                    </p>
                                    <p class="row m-0">
                                        <span class="col p-0 text-start fw-bold">Quantity</span>
                                        <span class="col p-0 text-end">\${item.quantity}</span>
                                    </p>
                                    <p class="row m-0">
                                        <span class="col p-0 text-start fw-bold">Price</span>
                                        <span class="col p-0 text-end">\${item.value} €</span>
                                    </p>
                                </div>
                            </div>
                            \`).join('')}
                </div>\`;
                return el.insertAdjacentHTML('afterend', element);
    }

    async function handleClick(url, el) {
            const orderId = url.split('/').pop();
            const currentOrder = localStorage.getItem('order_' + orderId);

            if (currentOrder){
                return renderElement(JSON.parse(currentOrder), el);
            } else {
                    const response = await fetch(url, {method: 'GET'});
                    if (!response.ok) {
                        console.error('Fetch Error:', await response.text());
                        return;
                    } else {
                        const result = await response.json();
                        localStorage.setItem('order_' + orderId, JSON.stringify(result));
                        renderElement(result, el);
                     }
                }
    }


    ordersButtons.forEach(btn => {
        btn.addEventListener('click', async (event) => {
            event.preventDefault();
            const row = btn.closest('.row');
            const orderItems = row.querySelector('.order-items');

            if (btn.textContent === 'Show less'){
                orderItems.parentNode.removeChild(orderItems);
                btn.textContent = 'View details';
            } else {
                    const url = btn.getAttribute('href');
                    await handleClick(url, btn.parentElement);
                    btn.textContent = 'Show less';
            }
        });
    });
</script>
` %>

